* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  /*10px*/
}

.content {
  background-image: url("./images/Img_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.surface {
  background-image: url("./images/Img_02.png");

  position: absolute;
  width: 500%;
  height: 15rem;
  bottom: 0;
  left: 0;
  animation: movenature 1s linear infinite;
}

.car {
  position: absolute;
  bottom: 1rem;
  left: 24%;
  animation: moveCar 1s linear infinite;
}

@keyframes movenature {
  100% {
    transform: translateX(-750px);
  }
}

@keyframes moveCar {
  100% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(2px);
  }

  0% {
    transform: translateY(1px);
  }
}
